body,
html {
  /* overflow: hidden; */
  background-color: #050704;
  margin: 0;
  font-family: Consolas, monaco, monospace;
}
.title {
  position: absolute;
  left: 37%;
  margin-bottom: 10em;
}
body {
  padding-top: 2em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}

body.texto-blog {
  padding-top: 2em;
  /* display: -webkit-box; */
  /* display: flex; */
  -webkit-box-pack: center;
  justify-content: center;
}

.text {
  display: table;
  margin-top: 3em;
  margin-left: 7%;
  justify-content: center;
}


/* a {
  text-decoration: none;
  color: #050704;
  text-align: center;
}

a:hover {
  color: #7ea788;
  transition-delay: 4s;
  transition: 1s;
}
 */


@font-face {
  font-family: 'PressStart';
  font-style: normal;
  font-weight: 400;
  src: local('Press Start 2P'), local('PressStart2P-Regular'), url(http://themes.googleusercontent.com/static/fonts/pressstart2p/v2/8Lg6LX8-ntOHUQnvQ0E7o3dD2UuwsmbX3BOp4SL_VwM.woff) format('woff');
}

/*neeeeoooon*/

a{
  text-decoration: none;
  color: #050704;
  text-align: center;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  transition: all 0.2s;
  /* font-family:PressStart; */
  
}

a:hover{
  color: #d5e5da;
  /* -webkit-animation: neon4 1.5s ease-in-out infinite alternate;
  -moz-animation: neon4 1.5s ease-in-out infinite alternate;
  animation: neon4 1s ease-in-out infinite alternate;  */
  animation: neon4 1.5s ease-in-out 2 alternate;
}


/*glow for webkit*/
@-webkit-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fffbfc,
               0 0 20px  #fffbfc,
               0 0 30px  #fffbfc,
               0 0 40px  #6ca777,
               0 0 70px  #6ca777,
               0 0 80px  #6ca777,
               0 0 100px #6ca777,
               0 0 150px #325034;
  }
  to {
    text-shadow: 0 0 5px #fffbfc,
               0 0 10px #fffbfc,
               0 0 15px #fffbfc,
               0 0 20px #6ca777,
               0 0 35px #6ca777,
               0 0 40px #6ca777,
               0 0 50px #6ca777,
               0 0 75px #325034;
  }
}

/*glow for mozilla*/


@-moz-keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fffbfc,
               0 0 20px  #fffbfc,
               0 0 30px  #fffbfc,
               0 0 40px  #6ca777,
               0 0 70px  #6ca777,
               0 0 80px  #6ca777,
               0 0 100px #6ca777,
               0 0 150px #325034;
  }
  to {
    text-shadow: 0 0 5px #fffbfc,
               0 0 10px #fffbfc,
               0 0 15px #fffbfc,
               0 0 20px #6ca777,
               0 0 35px #6ca777,
               0 0 40px #6ca777,
               0 0 50px #6ca777,
               0 0 75px #325034;
  }
}
/*glow*/
@keyframes neon4 {
  from {
    text-shadow: 0 0 10px #fffbfc,
               0 0 20px  #fffbfc,
               0 0 30px  #fffbfc,
               0 0 40px  #6ca777,
               0 0 70px  #6ca777,
               0 0 80px  #6ca777,
               0 0 100px #6ca777,
               0 0 150px #325034;
  }
  to {
    text-shadow: 0 0 5px #fffbfc,
               0 0 10px #fffbfc,
               0 0 15px #fffbfc,
               0 0 20px #6ca777,
               0 0 35px #6ca777,
               0 0 40px #6ca777,
               0 0 50px #6ca777,
               0 0 75px #325034;
  }
}
/* img:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
} */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

img:active {
  filter: hue-rotate(180deg) blur(7px);
  /* transition-delay: 0.0000001s; */
  /* transition: -200s; */
}

.brain {
  display: table;
  margin-top: 3em;
  margin-left: 7%;
  justify-content: center;
  /* display: flex; */
  /* margin: 0; */
}

/* h2.one { 
  position: absolute;
  top: 37%;
  left: 20%;
}

h2.two { 
  position: absolute;
  top: 50%;
  left: 50%;
}

h2.three { 
  position: absolute;
  top: 50%;
  left: 50%;
}

h2.four { 
  position: absolute;
  top: 50%;
  left: 50%;
}

h2.five { 
  position: absolute;
  top: 50%;
  left: 50%;
}

h2.six { 
  position: absolute;
  top: 50%;
  left: 50%;
}

h2.seven { 
  position: absolute;
  top: 50%;
  left: 50%;
} */

.row {
  float: left;
  /* flex: 50%; */
  width: 50%;
  margin-top: 0px;
  margin-left: -119px;
  margin-right: -70px;
  margin-bottom: -10px;
  color: #050704;
  text-align: center;
  /* padding: 5px; */
}

.row-left {
  /* float: left; */
  /* flex: 50%; */
  /* width: 50%; */
  position: absolute;
  top: 29%;
  left: 64%;
  margin-top: 0px;
  margin-left: -80px;
  /* margin-right: -70px; */
  /* margin-bottom: -10px; */
  color: #050704;
  text-align: center;
  /* padding: 5px; */
}

/* image effects */
.responsive-neuron {
  width: 400px;
  /* max-width: 100%; */
  height: auto;
}

#rotate-neuron {
  transform: rotate(279deg);
}

#rotate-neuron h2 {
  transform: rotate(90deg);
}

#onhover {
  display: none;
}
#surround:hover img[id="initial"] {
  display: none;
}
#surround:hover img[id="onhover"] {
  display: inline-block;
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

/* DEMO-SPECIFIC STYLES */
.typewriter h1 {
  color: #7ea788;
  font-family: Consolas, monaco, monospace;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid #7ea788; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.15em; /* Adjust as needed */
  -webkit-animation: typing 3.5s steps(30, end),
    blink-caret 0.5s step-end infinite;
  animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
}

h1 {
  font-family: Consolas, monaco, monospace;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
  color: aliceblue;
}
blockquote {
  font-family: Consolas, monaco, monospace;
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: Consolas, monaco, monospace;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

/* The typing effect */
/* The typewriter cursor effect */

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #7ea788;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #7ea788;
  }
}

/* end typewriter */
